<div class="container text-center">

    <div class="row justify-content-center align-items-center g-2">
        <div class="col">
            <img src="resourceres/imagenes/titulo.png" class="img-fluid" [routerLink]="['pokemones']"  alt="Pokemon">
        </div>
    </div>
    <div class="row justify-content-center align-items-center g-2">
        <p>
            La página será una aplicación web interactiva que utiliza la PokeAPI para mostrar información detallada sobre los Pokémon. 
            Los usuarios podrán acceder a una lista de Pokémon, con la opción de buscar por nombre o tipo. Al seleccionar un Pokémon, 
            se mostrará una página con detalles como estadísticas, habilidades, evoluciones y una imagen del Pokémon. La interfaz será sencilla y fácil de usar, 
            con un diseño limpio y responsivo que se adaptará a diferentes dispositivos. 
            Además, se podrán implementar filtros para ver Pokémon por tipo, habilidad o rango de estadísticas.
        </p>
        <h4>Algunos de los elementos clave:</h4>
        <li>
            Lista de Pokémon: Visualización de todos los Pokémon disponibles, con paginación para una navegación fácil.
        </li>
        <li>
            Búsqueda: Un campo de búsqueda para encontrar un Pokémon específico.
        </li>
        <li>
            Detalles de Pokémon: Información detallada sobre cada Pokémon, incluyendo estadísticas, habilidades, evoluciones, y una imagen.
        </li>
        <li>
            Diseño responsivo: La página se adaptará a diferentes tamaños de pantalla, asegurando una buena experiencia en dispositivos móviles y de escritorio.
            Este proyecto sería una excelente forma de explorar la PokeAPI y aprender a integrar datos de una API en una página web.
        </li>
    </div>

</div>
